@charset "utf-8";
/* CSS Document */

body {background:url(/img/header.jpg) repeat-x top; font-family: Arial, Helvetica, sans-serif;font-size:12px; line-height:18px;}

a {color:#596f8c; text-decoration:underline;}
a:hover{text-decoration:none;}

strong {font-weight:bold;}
h1 {}
h2 {color:#7186a1;font-size:13px; font-weight:bold;}

em {font-style:italic;}
.left {float:left;}
.right {float:right;}

.red {color:#ed1c24;}
.delimiter {width:100%; height:35px;clear:both;}
.date {font-size:11px;}
.smalltext {font-size:11px;}


#wrapper {width:980px; min-width:980px; margin:0 auto;}

#header {padding:20px 12px 0 12px; height:57px; width:956px; margin:0 auto;}

#logo {float:left; width:208px;}

#links {float:left; width:250px;}

#search {width:228px;float:left;}

#user {float:right; width:345px;}

ul.mainmenu {background:url(/img/menu_bg.jpg) repeat-x bottom; height:29px;}
ul.mainmenu, ul.submenu {list-style:none;}
ul.mainmenu li {float:left; padding:6px 12px 4px 12px; list-style:none;}
ul.mainmenu li a {color:#FFF;font-size:11px; font-weight:bold;}
ul.mainmenu li a.dropdown {color:#FFF;font-size:11px; font-weight:bold;background:url(/img/dropdown.gif) right center no-repeat; padding-right:14px;}

ul.mainmenu li a:hover {}
ul.mainmenu li.active {background:url(/img/menu_bg_active.jpg) repeat-x bottom;}
ul.mainmenu li.active a{color:#000; text-decoration:none;}
ul.mainmenu li.active a.dropdown {background:url(/img/dropdown_active.gif) right center no-repeat; padding-right:14px;}


ul.submenu {height:30px;border-bottom:1px solid #dee4e8;}
ul.submenu li {float:left; margin-top:8px; padding:2px 12px 1px 12px;list-style:none;}
ul.submenu li a {color:#7186a1;font-size:11px;}
ul.submenu li a:hover {}
ul.submenu li.active {background-color:#dee4e8;}
ul.submenu li.active a{color:#000; text-decoration:none;}


.box {background-color:#f3f5f7; padding:12px; margin:0px 25px 0 0;}
.groupbox {color:#7186a1; min-height:18px; padding:5px 12px 5px 12px;font-size:13px; font-weight:bold; background-color:#f3f5f7;}

.gray {}
.grayblack {background-color:#dee4e8;}

.normal {font-weight:normal; color:#000;}

a.add {background:url(/img/controls.png) left -120px no-repeat; height:16px;display:block; padding-left:20px;}
a.close {background:url(/img/controls.png) left -100px no-repeat; height:16px;display:block; padding-left:20px;}
a.print {background:url(/img/controls.png) left -40px no-repeat; height:16px;display:block; padding-left:20px;}

table.clear, table.clear td, table.clear td{padding:0;margin:0;}

table.gray {background-color:#f3f5f7; text-align:left;}
table.gray th {color:#000; font-size:12px; font-weight:bold;
border-top:2px solid #c3cbd0;
padding:5px 5px;
vertical-align: top;
}

table.gray  td {border-top:1px solid #c3cbd0; padding:5px;}

table.gray th a {color:#000;}


ytr {border-top:1px solid #c3cbd0;}
/*th, td {border-top:1px solid #c3cbd0;}*/

ul.sf_admin_td_actions li{float:left;  height:16px;padding-top:0px;}
ul.sf_admin_td_actions li a{background:url(/img/controls.png) left top no-repeat; text-indent: -99999px;height:16px;width:16px;display:block; margin-right:10px;margin-top:2px;}
ul.sf_admin_td_actions li a#sf_admin_action_create{background: url(../images/add.png) no-repeat 3px 2px; text-indent: -99999px;height:18px;width:18px;display:block; margin-right:10px;margin-top:2px;}

ul.sf_admin_td_actions li.sf_admin_action_edit a {background-position:0 -20px;} /*редакировать*/
ul.sf_admin_td_actions li.sf_admin_action_delete a {background-position:0 -100px;} /*удалить - закрыть заявку*/
ul.sf_admin_td_actions li.sf_admin_action_status a {background-position:0 -180px;} /*изменить статус*/
ul.sf_admin_td_actions li.sf_admin_action_importance a {background-position:0 -80px;} /*изменить важность*/
ul.sf_admin_td_actions li.sf_admin_action_kurator a {background-position:0 -140px;} /*кураторы*/
ul.sf_admin_td_actions li.sf_admin_action_staff a {background-position:0 -160px;} /*исполнитли*/




td.option {font-size:12px;
font-weight:bold;}


table.tableform {}
table.tableform td,  table.tableform th {padding:5px; background-color:#f3f5f7; text-align:left; vertical-align:middle;}
table.tableform th {color:#000; font-size:12px; font-weight:bold;}
table.tableform tfoot td {border-top:2px solid #c3cbd0;}


/*             inputs  */
input[type="text"], input[type="password"], select, textarea {
background:url("/img/input-bg.gif") repeat-x scroll left top #FFFFFF;
border:1px solid #CCCCCC;
padding:3px;
min-width:200px;
}

input[type="submit"], input[type="button"], .button {background:url("/img/input-bg.gif") repeat-x scroll left top #FFFFFF;
border:1px solid #CCCCCC;
padding:3px;
cursor:pointer;
font-weight:bold;
color:#AAA;
}

#footer {
	border-top:#e8ecef solid 4px;
	margin-top:50px;
	padding:20px 12px;
	font-size:11px;
}






body#loginform {background-color:#F4F4F4;font-family:Arial, Helvetica, sans-serif; font-size:12px;line-height:1.5;}

.loginMessage {
color:#999999;
font-size:11px;
padding-top:20px;
}
label {
display:block;
font-weight:bold;       
}

.loin td, .login th {padding:5px 0;}

.error_list {color:#ed1c24; font-size:11px;line-height:1;}

input[type="text"], input[type="password"] {
background:url("/img/input-bg.gif") repeat-x scroll left top #FFFFFF;
border:1px solid #CCCCCC;
padding:3px;
width:200px;
}

table.login th {background-color: #fff;}

form.language table th {background-color: #fff;}

#copyright1 {width:440px; margin:10px auto; color:#B2B2B2; text-shadow:0 1px 0 #FFFFFF;font-size:95%; padding-left:20px;}


/****************************************/

#sf_admin_container h1 {
background-color:#F3F5F7;
color:#7186A1;
font-size:13px;
font-weight:bold;
min-height:18px;
padding:5px 12px;
}

a.sf_admin_action_edit
{
   background:url(/img/edit.png) left top no-repeat; 
   text-indent: -99999px;
   height:16px;
   width:16px;
   display:inline-block; margin-right:10px;margin-top:2px;
}


.loading{
   opacity:0.2;

}

.loading_image{
   background:url(/img/ajax-loader_arr.gif) 50% 50% no-repeat; 
   opacity:0.5;
   width:16px;
   height:16px;
   display:none;
}
.input_ajax, .input_ajax_submit{
    color:#000; 
    font-size:12px;
    float:left;
}
.input_ajax{
    width:150px;
}
.notread{
    background-color: #ccc;
    font-weight: bold;
}
.claim_border, .group{
    border-bottom: 3px solid #666;
}
.filter_claimtype{
    width:100px;
    height:25px;
    display:table;
}
.filter_organization{
    width:100px;
    height:25px;
    display:table;
}
.filter_departments{
    width:100px;
    height:25px;
    display:table;
}
.filter_claimtype select{
   width:100px; 
}
.filter_organization select{
   width:100px; 
}
.filter_departments select{
   width:100px; 
}
.claim_stuff_list
{
    display:table;
    height:420px;
}
/*#claim_departments_id{
    width:200px;
} */
.claim_new{
    display:block; 
    float:right;
    width:50px;
    padding-left: 22px;
    background-position: left;
}
.claim_form_outer
{
    min-width:600px;
}
.claim_message{
    width:500px;
    height:300px;
}
.filter_outer{
    width:200px;
    display: inline-table;
}
#clear_filter{
    
}
.departmentslist_for_stuff_table{
    display: none;
}

.date_tag{
    width:30px;
}

.page_loader{
   background:url(/img/page-loader.gif) 50% 50% no-repeat; 
   width:100%;
   height:100%;
   position: fixed;
   margin: 0 auto; 
   z-index: 5000;
   background-color: #333;
   opacity:0.5;

}
.new_claim{
    background-position: left;
}
.NoInfo{
    width:200px;
    display: block;
}

form#claimsearch {}
form#claimsearch input#claimid {width:50px;min-width:50px;} 
form#claimsearch  label {display: inline;} 

div#organization_duplicate{
  position: absolute;
  left: 550px;
  top: 159px;
}

#not_work_holder #grafik_from_not_work_year{
  display:none
}
#not_work_holder #grafik_from_not_work_month{
  display:none
}
#not_work_holder #grafik_to_not_work_year{
  display:none
}
#not_work_holder #grafik_to_not_work_month{
  display:none
}
.copy_permanent_staff_holder{
  left: 550px;
  position: absolute;
  top: 55px;
}